<div class="container mt-4">
  <form [formGroup]="todoForm" (ngSubmit)="submitTodo()" novalidate>
    <div class="form-group">
      <input
          class="form-control col-md-4"
          name="todoInput"
          type="text"
          placeholder="todo"
          formControlName="todoInput"
          />
    </div>
    <button type="submit" [disabled]="todoForm.invalid" class="btn btn-primary">Submit</button>
  </form>
  <div class="mt-4">
      <li *ngFor="let todos in list">
        <p>{{todos}}</p>
      </li>
  </div>
</div>




